html, body{
  height: 100%;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

body {
  background: #f5f5f5;
}

.md-list-item {
  cursor: pointer;
}

.ui.positive.buttons .active.button, .ui.positive.buttons .active.button:active, .ui.positive.active.button, .ui.positive.button .active.button:active
{
  background-color: #009688!important;
}

.ui.positive.buttons .button, .ui.positive.button
{
  background-color: #009688!important;
}

.blocklyTreeRow {
  padding-top: 0.75rem !important;
  padding-bottom: 2rem !important;
  border-left-width: 12px !important;
}
.blocklyTreeRoot div div div div .blocklyTreeRow {
  border-left-width: 18px !important;
  padding-top: 0px !important;
  padding-bottom: 1.6rem !important;
}
