html, body{
  height: 100%;
  /*font-family: Arial, Helvetica, sans-serif*/
}

span.active {
  background-color: gray;
}

body {
  background: #f5f5f5;
}

.md-list-item {
  cursor: pointer;
}

.ui.positive.buttons .active.button, .ui.positive.buttons .active.button:active, .ui.positive.active.button, .ui.positive.button .active.button:active
{
  background-color: #009688!important;
}

.ui.positive.buttons .button, .ui.positive.button
{
  background-color: #009688!important;
}
