*.pyc
/.idea
/venv
/virtualenv*
/.tox
/.cache
*.sqlite3
MANIFEST
build/
dist/
*.egg-info
/.coverage
/htmlcov/
/business_logic/static/
/old/
/django-business-logic-*

tests/reports/*.xml
.python-version
