*.pyc
/.idea
/venv
*.sqlite3
MANIFEST
build/
dist/
*.egg-info
.editorconfig
.github/
.gitignore
.travis.yml
LICENSE
README.md
config/
karma.conf.js
package.json
protractor.conf.js
src/
tsconfig.json
tslint.json
typedoc.json
typings.json
webpack.config.js
