{% extends "bootstrap3/bootstrap3.html" %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link rel="icon" href="{% static 'books/favicon-book.ico' %}">
    <link href="{% static 'books/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}
{% block bootstrap3_content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">django-business-logic demo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="/books/author">List</a></li>#}
{#                <li><a href="/books/author/add">Create</a></li>#}
{#              </ul>#}
{#            </li>#}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publishers <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/books/publisher">List</a></li>
{#                <li><a href="/books/publisher/add">Create</a></li>#}
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/books/book">List</a></li>
{#                  <li><a href="/books/book/add">Create</a></li>#}
              </ul>
            </li>

            <li><a href="{% static 'business_logic/index.html' %}">django-business-logic Visual Editor</a></li>
            <li><a data-toggle="tooltip" data-placement="bottom" title="use test:test to login" href="/admin/business_logic/">Django Admin</a></li>
            <li><a href="/business-logic/rest/">django-business-logic REST API</a></li>

          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container theme-showcase" role="main">
    <a href="https://github.com/dgk/django-business-logic"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 5000" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Theme example</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
      </div>


      <div class="page-header">
        <h1>Alerts</h1>
      </div>
      <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
      </div>
      <div class="alert alert-info" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </div>
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>



      <div class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>


{% endblock content %}
    </div> <!-- /container -->

{% endblock %}

{% block bootstrap3_extra_script %}
 {% include "ga.html" %}
{% endblock %}
