.card{
  position: absolute;right: 2rem;bottom: 1rem;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.card.inverted{
  background: #1B1C1D;
}

.card.inverted > .content > .header{
  color: #fff!important;
}


/*.ui.feed > .event > .content .summary{*/
  /*color: #fff!important;*/
/*}*/
