<category name="Logic">
  <category name="If">
    <block type="controls_if"></block>
    <block type="controls_if">
      <mutation else="1"></mutation>
    </block>
    <block type="controls_if">
      <mutation elseif="1" else="1"></mutation>
    </block>
  </category>
  <category name="Boolean">
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
    <block type="logic_negate"></block>
    <block type="logic_boolean"></block>
    <!--<block type="logic_null"></block>-->
    <!--<block type="logic_ternary"></block>-->
  </category>
</category>
<!--<category name="Loops">-->
  <!--<block type="controls_repeat_ext">-->
    <!--<value name="TIMES">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">10</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="controls_whileUntil"></block>-->
  <!--<block type="controls_for">-->
    <!--<field name="VAR">i</field>-->
    <!--<value name="FROM">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">1</field>-->
      <!--</block>-->
    <!--</value>-->
    <!--<value name="TO">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">10</field>-->
      <!--</block>-->
    <!--</value>-->
    <!--<value name="BY">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">1</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="controls_forEach"></block>-->
  <!--<block type="controls_flow_statements"></block>-->
<!--</category>-->
<category name="Math">
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
  <!--<block type="math_single"></block>-->
  <!--<block type="math_trig"></block>-->
  <!--<block type="math_constant"></block>-->
  <!--<block type="math_number_property"></block>-->
  <!--<block type="math_change">-->
    <!--<value name="DELTA">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">1</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="math_round"></block>-->
  <!--<block type="math_on_list"></block>-->
  <!--<block type="math_modulo"></block>-->
  <!--<block type="math_constrain">-->
    <!--<value name="LOW">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">1</field>-->
      <!--</block>-->
    <!--</value>-->
    <!--<value name="HIGH">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">100</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="math_random_int">-->
    <!--<value name="FROM">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">1</field>-->
      <!--</block>-->
    <!--</value>-->
    <!--<value name="TO">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">100</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="math_random_float"></block>-->
</category>
<category name="Text">
  <block type="text">
    <field name="TEXT"></field>
  </block>
</category>
<!--<category name="Lists">-->
  <!--<block type="lists_create_empty"></block>-->
  <!--<block type="lists_create_with"></block>-->
  <!--<block type="lists_repeat">-->
    <!--<value name="NUM">-->
      <!--<block type="math_number">-->
        <!--<field name="NUM">5</field>-->
      <!--</block>-->
    <!--</value>-->
  <!--</block>-->
  <!--<block type="lists_length"></block>-->
  <!--<block type="lists_isEmpty"></block>-->
  <!--<block type="lists_indexOf"></block>-->
  <!--<block type="lists_getIndex"></block>-->
  <!--<block type="lists_setIndex"></block>-->
<!--</category>-->
<category name="Variables" custom="VARIABLE"></category>
<!--<category name="Functions" custom="PROCEDURE"></category>-->
<!--<category name="Argument fields">-->
  <!--<block type="business_logic_argument_field_get">-->
    <!--<field name="VAR">book.title</field>-->
  <!--</block>-->

  <!--<block type="business_logic_argument_field_set">-->
    <!--<field name="VAR">book.title</field>-->
  <!--</block>-->
<!--</category>-->

<!--<category name="">-->
  <!--<block type="business_logic_function_noreturn">-->
    <!--<mutation args="true"></mutation>-->
    <!--<field name="FUNC">Get Book from the shelf</field>-->
    <!---->
    <!--<value name="ARG0"><block type="math_number"><field name="NUM">10000</field></block></value>-->

  <!--</block>-->
<!--</category>-->

<!--<category name="Date">-->
  <!--<block type="business_logic_date">-->
    <!--<field name="DATE"></field>-->
  <!--</block>-->
<!--</category>-->
