<!DOCTYPE html>
<html lang="">
<head>

	<title><%= webpackConfig.metadata.title %></title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%= webpackConfig.metadata.title %>">

	<!-- base url -->
	<base href="<%= webpackConfig.metadata.baseUrl %>">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>

</head>

<body>

	<program-interface>
		Loading...<br>
		<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
	</program-interface>

	<% if (webpackConfig.metadata.ENV === 'development') { %>
		<!-- Webpack Dev Server reload -->
		<script src="/webpack-dev-server.js"></script>
	<% } %>
</body>
</html>
