<div class="ui section">

  <button class="ui icon violet button" (click) = "modalSave.show()"><i class="save icon"></i></button>

  <div class="ui icon top pointing right pointing dropdown button black">
    <div class="header"><i class="dropdown icon"></i> Version</div>

    <div class="menu">
      <div class="header">
        <div class="ui compact violet message">
          <p>{{verDescription}}</p>
        </div>
      </div>
      <!--<div class="item" (click) = "modalSave.show()"><i class="save icon"></i>Save</div>-->
      <div class="item" (click) = "modalSaveAs.show()">Save as ...</div>
    </div>
  </div>

</div>

<modal-save #modalSave (onSave)="onSave( blockly.getXml() )"></modal-save>
<modal-save-as #modalSaveAs (onSaveAs)="onSaveAs($event, blockly.getXml())" [title] = "title" [verDescription] = "verDescription"></modal-save-as>

<br>

<blockly [version] = "version"
         [xmlForReferenceDescriptors] = "xmlForReferenceDescriptors"
         [xmlForArgumentFields] = "xmlForArgumentFields"
         [xmlForFunctionLibs] = "xmlForFunctionLibs" #blockly>
</blockly>

<div *ngIf = "saving" class="ui active page dimmer">
  <div class="ui text loader">Saving</div>
</div>

<simple-notifications [options]="options"></simple-notifications>
